Source: qpeercastyp
Section: sound
Priority: extra
Maintainer: ciao <ciao@users.sourceforge.jp>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.2

Package: qpeercastyp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ogg123, mpg321
Description: Qt4 based PeerCast Yellow Page Viewer
Description-ja: PeerCast 視聴補助プログラム (Qt4)
